@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  color: white;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-snap-stop: normal;
}

h1 {
  font-size: 5em;
}

.slide {
  height: 100vh;
  width: 100%;
  background-color: #222;
  scroll-snap-align: center;
  scroll-snap-stop: normal;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.slide > .layer {
  width: 70%;
  height: 70%;
  position: relative;
}

.slide > .layer > .content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
}

.slide > .layer > .background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0.9) rotate(-4deg);
  background-color: #000;
}
