@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  /*background-image: url("images/bg-pattern.svg");*/
  margin-bottom: 30vw;
}

.wrapper {
  margin: 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5vw;
}

.wrapper > .desc > h1 {
  font-family: 'Architects Daughter', cursive;
  font-size: 5em;
  margin-top: 0.5em;
  color: #333;
}

.wrapper > .desc > p {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.wrapper > .desc > a {
  text-align: left;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 2em;
}

.floater {
  width: 100vw;
  height: 30vw;
  position: fixed;
  bottom: 0;
  background-color: #EEE;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  box-shadow: 0 0 15vw 0 rgba(0, 0, 0, 0.1);
}

.floater > p {
  font-family: 'Architects Daughter', cursive;
  font-size: 3em;
}

@media only screen and (min-width: 999px) {

  body {
    margin-bottom: 5vw;
  }

  .wrapper > .desc > h1 {
    font-size: 3.5em;
  }

  .wrapper {
    margin: 4vw 16vw;
    flex-wrap: nowrap;
  }

  .wrapper > img {
    width: 30vw;
  }

  .wrapper > .desc {
    margin-left: 4vw;
  }

  .wrapper > .desc > a {
    font-size: 1.5em;
  }

  .floater {
    height: 5vw;
  }

}
