@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #202020;
  overflow: hidden;
}

h2 {
  line-height: 0.9em;
}

#scroller {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
	scroll-snap-type: y proximity;
  overscroll-behavior: none;
  scroll-snap-stop: always;
}

#home, #whoami, #works {
  scroll-snap-align: start;
}

#home, #whoami {
  height: 100vh;
}

#works {
  height: 200vh;
}

.page {
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: 1fr 3fr 20fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 20fr 3fr 1fr;
  width: 100%;
}

.page > .wrapper {
  grid-column: 3;
  grid-row: 3;
}

.frame {
  position: relative;
  top: 0;
  left: 0;
  grid-column: 3;
  grid-row: 3;
}

.frame > .content {
  height: 100%;
  width: 100%;
}

.frame > .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #000;
  transform: scale(0.85) rotate(-4deg);
}

#home .frame {
  height: 100%;
}

#home .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .content > img {
  width: 100%;
}

#whoami .wrapper {
  display: grid;
}

#whoami .frame {
  width: 80%;
  justify-self: center;
}

#whoami .content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10%;
}

#whoami .content > .text > h2 {
  font-size: 4vw;
}

#whoami .content > .text > p {
  font-size: 1.5vw;
  margin-top: 0.5em;
}

#whoami .content > img {
  width: 100%;
  justify-self: end;
  transform: rotate(-4deg) translateY(-1vw);
}
