@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
}

#scroller {
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overscroll-behavior: none;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

#home, #whoami {
  height: 100%;
}

#mywork {
  height: 300%;
}

.page {
  scroll-snap-align: start;
  width: 100%;
}

.marker {
  border-style: solid;
  border-width: 3px;
  border-color: #444;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #789;
}
