@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
}

#scroller {
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overscroll-behavior: none;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

#home, #whoami {
  height: 100%;
}

#mywork {
  height: 300%;
}

.page {
  scroll-snap-align: start;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker {
  height: 90%;
  width: 90%;
  background-color: #789;
}
